[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
nltk = "*"
scikit-learn = "*"
numpy = "==1.26.4"
rank-bm25 = "*"
transformers = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.12"
